src/Serialize.Linq.Examples/Serialize.Linq.Examples.WcfClientWithServiceReference/Service References/PersonServiceReference/PersonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Examples.WcfContracts.Entities" />
  <xs:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" />
  <xs:element name="GetAllPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Serialize.Linq.Examples.WcfContracts.Entities" minOccurs="0" name="GetAllPersonsResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="query" nillable="true" type="q2:E" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Serialize.Linq.Examples.WcfContracts.Entities" minOccurs="0" name="FindPersonsResult" nillable="true" type="q3:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>