src/Serialize.Linq.Examples/Serialize.Linq.Examples.WcfClientWithServiceReference/Service References/PersonServiceReference/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Examples.WcfContracts.Entities" />
      <xsd:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" />
      <xsd:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
      <xsd:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPersons" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetAllPersons" message="tns:IPersonService_GetAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetAllPersonsResponse" message="tns:IPersonService_GetAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FindPersons" message="tns:IPersonService_FindPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindPersonsResponse" message="tns:IPersonService_FindPersons_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersons">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FindPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:9000/PersonService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>