src/Serialize.Linq.Examples/Serialize.Linq.Examples.WcfClientWithServiceReference/Service References/PersonServiceReference/PersonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" />
  <xs:import schemaLocation="http://localhost:9000/PersonService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
  <xs:complexType name="E">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Node">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" minOccurs="0" name="NT" type="q1:ExpressionType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="T" nillable="true" type="tns:T">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="E" nillable="true" type="tns:E" />
  <xs:complexType name="Node">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="P">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="I" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="N" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="P" nillable="true" type="tns:P" />
  <xs:complexType name="tE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="tE" Namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ParameterExpression" Namespace="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:E">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tE" nillable="true" type="tns:tE" />
  <xs:complexType name="TB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="E" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="O" nillable="true" type="tns:T">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TB" nillable="true" type="tns:TB" />
  <xs:complexType name="T">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Node">
        <xs:sequence>
          <xs:element minOccurs="0" name="G" nillable="true" type="tns:ArrayOfT">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="N" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T" nillable="true" type="tns:T" />
  <xs:complexType name="ArrayOfT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T" nillable="true" type="tns:T" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT" nillable="true" type="tns:ArrayOfT" />
  <xs:complexType name="U">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="O" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="U" nillable="true" type="tns:U" />
  <xs:complexType name="B">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="C" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="I" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="L" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="M" nillable="true" type="tns:MIN">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="R" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="B" nillable="true" type="tns:B" />
  <xs:complexType name="MIN">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MN">
        <xs:sequence>
          <xs:element minOccurs="0" name="G" nillable="true" type="tns:ArrayOfT">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="I" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MIN" nillable="true" type="tns:MIN" />
  <xs:complexType name="MN">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MN" Namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MethodInfo" Namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Node">
        <xs:sequence>
          <xs:element minOccurs="0" name="D" nillable="true" type="tns:T">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Reflection" minOccurs="0" name="M" type="q2:MemberTypes">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="S" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MN" nillable="true" type="tns:MN" />
  <xs:complexType name="IF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="C" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IFF" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IFT" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IF" nillable="true" type="tns:IF" />
  <xs:complexType name="C">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="V" nillable="true" type="xs:anyType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="C" nillable="true" type="tns:C" />
  <xs:complexType name="CI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MN">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CI" nillable="true" type="tns:CI" />
  <xs:complexType name="EI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Node">
        <xs:sequence>
          <xs:element minOccurs="0" name="A" nillable="true" type="tns:EL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="M" nillable="true" type="tns:MIN">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EI" nillable="true" type="tns:EI" />
  <xs:complexType name="EL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="E" nillable="true" type="tns:E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EL" nillable="true" type="tns:EL" />
  <xs:complexType name="EIL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EI" nillable="true" type="tns:EI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EIL" nillable="true" type="tns:EIL" />
  <xs:complexType name="FI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MN">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FI" nillable="true" type="tns:FI" />
  <xs:complexType name="I">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="A" nillable="true" type="tns:EL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="E" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="I" nillable="true" type="tns:I" />
  <xs:complexType name="L">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="B" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="P" nillable="true" type="tns:EL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="L" nillable="true" type="tns:L" />
  <xs:complexType name="LI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="I" nillable="true" type="tns:EIL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="N" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LI" nillable="true" type="tns:LI" />
  <xs:complexType name="MA">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MB">
        <xs:sequence>
          <xs:element minOccurs="0" name="E" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MA" nillable="true" type="tns:MA" />
  <xs:complexType name="MB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Node">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" minOccurs="0" name="BT" type="q3:MemberBindingType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="M" nillable="true" type="tns:MI">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MB" nillable="true" type="tns:MB" />
  <xs:complexType name="MI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MN">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MI" nillable="true" type="tns:MI" />
  <xs:complexType name="MBL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MB" nillable="true" type="tns:MB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MBL" nillable="true" type="tns:MBL" />
  <xs:complexType name="M">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="E" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="M" nillable="true" type="tns:MI">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="M" nillable="true" type="tns:M" />
  <xs:complexType name="MIL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MI" nillable="true" type="tns:MI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MIL" nillable="true" type="tns:MIL" />
  <xs:complexType name="MIE">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="B" nillable="true" type="tns:MBL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="N" nillable="true" type="tns:N">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MIE" nillable="true" type="tns:MIE" />
  <xs:complexType name="N">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="A" nillable="true" type="tns:EL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="C" nillable="true" type="tns:CI">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="M" nillable="true" type="tns:MIL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="N" nillable="true" type="tns:N" />
  <xs:complexType name="MLB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MB">
        <xs:sequence>
          <xs:element minOccurs="0" name="I" nillable="true" type="tns:EIL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MLB" nillable="true" type="tns:MLB" />
  <xs:complexType name="MMB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MB">
        <xs:sequence>
          <xs:element minOccurs="0" name="B" nillable="true" type="tns:MBL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MMB" nillable="true" type="tns:MMB" />
  <xs:complexType name="MC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="A" nillable="true" type="tns:EL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="M" nillable="true" type="tns:MIN">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="O" nillable="true" type="tns:E">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MC" nillable="true" type="tns:MC" />
  <xs:complexType name="NA">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:tE">
        <xs:sequence>
          <xs:element minOccurs="0" name="E" nillable="true" type="tns:EL">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NA" nillable="true" type="tns:NA" />
  <xs:complexType name="PI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MN">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PI" nillable="true" type="tns:PI" />
</xs:schema>